*, *:before, *:after {
    box-sizing: border-box;
  }
body
{
    background: url(https://i.filecdn.in/755esias/SalientaspectsofIndianClassicalMusic-1680779537717.jpg);
    background-size:cover;
box-sizing: border-box;

}
.container
{margin-top: -10px;
width: 40%;
height: 50%;
background-color: rgba(120, 43, 15, 0.795);

display: flex;
flex-direction:row;
margin: 80px auto ;
flex-wrap: wrap;
color: rgb(245, 240, 240);
/* color: rgb(15, 157, 200));  */

border:solid black;
}
.ip{
display:flex;
width: 270px;
justify-content: center;
}

form{
margin: auto;
    display: flex;
    flex-direction:column;
}
h1{
    margin-top: 0;
    font-size: 30px;
}
label{
    font-size: 20px;
}
.titlebar
{
width: 98%;
height: 8%;
padding-top: 4px;
margin: auto;

background-color: rgb(120, 43, 15);

display:none;
border:solid black;
}

ul{
    width: 40%;
    height: 10%;
   /* margin-right: 22px;
    margin-left: 25px;*/
    margin-top: 120px;
    display: block;
    justify-content: space-between;
    flex-direction: row;
}
li{
    display: flex;
    background-color: rgb(111, 21, 21);
    padding: 20px;
    align-items: center;
    font-size: 25px;
    border-bottom: rgb(121,21,21);
}
.login{
    background-color: rgb(197, 52, 52);
    padding: 20px;
}
.signup{
    border-bottom: solid rgb(114, 5, 5);
}
.signup:active{
    background-color: rgb(197, 52, 52);
}
.login:hover{
    background-color: rgb(197, 52, 52);
}
.login:active{
    background-color: rgb(197, 52, 52);
}
.signup:hover{
    background-color: rgb(197, 52, 52);
}

.heading
{   width:50%;
    box-sizing: border-box;
    font-size: 450%;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 0;
   /* color: rgb(18, 42, 76);*/
   /*color: white;*/
   background-color: rgba(120, 43, 15, 0.795);
   border:solid rgba(12, 12, 12, 0.785);
   border-radius: 6px;
   /*background-image: url(https://i.filecdn.in/755esias/SalientaspectsofIndianClassicalMusic-1680779537717.jpg);
   color:transparent;
   background-clip:text;
   -webkit-background-clip: text;*/
   color: white;
}
a{
    text-decoration: none;
}
a li{
    display:block;
    text-decoration:none;
    color: white;
    text-align: center;
}
form #fsignup
{
    display: flex;
}
#flogin
{
    display: flex;
}
/*div .btn{
    width: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 4px;
   margin-left: 30px;
   background-color: brown;
   color: white;
   /* width: 74px; */
  /* height: 35px;
    }*/

.submit,.cancel{
  cursor: pointer;
    margin-right: 40px;
    background-color: brown;
    color: white;
    /* width: 74px; */
    height: 35px;
  
    width: 69px;
}
.submit{
    margin-right: 10px;
    margin-left: 10px;
}